:root{
  --blue:#143a59;
}

body{
  margin:0;
  font-family:"Segoe UI",sans-serif;
  background:#fff;
  color:#333;
}

/* HERO */
.hero{
  position:relative;
  height:70vh;
  overflow:hidden;
}

.hero-slider img{
  position:absolute;
  width:100%;
  height:100%;
  object-fit:cover;
  top:0;
  left:0;
  opacity:0;
  transition:opacity 1s ease-in-out;
}

.hero-slider img.active{
  opacity:1;
}

.hero::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(20,58,89,.5); /* slightly transparent */
  z-index:1;
}

.hero-content{
  position:absolute;
  inset:0;
  z-index:2;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:#fff;
  padding:20px;
}


/* SECTION */
.section{
  padding:80px 8%;
}
.section h2{
  color:var(--blue);
  font-size:34px;
  margin-bottom:20px;
}
.section p{
  font-size:17px;
  line-height:1.8;
}

/* SPLIT */
.split{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:50px;
  align-items:center;
}
.split img{
  width:100%;
  border-radius:20px;
  box-shadow:0 15px 40px rgba(0,0,0,.15);
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  margin-top:40px;
}
.card{
  background:#fff;
  padding:30px;
  border-radius:20px;
  box-shadow:0 15px 40px rgba(0,0,0,.1);
  transition:.4s;
}
.card:hover{
  transform:translateY(-12px);
}
.card h4{
  color:var(--blue);
}

/* STATS */
.stats{
  background:var(--blue);
  color:#fff;
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  text-align:center;
}
.stats div{
  padding:40px;
}
.stats h3{
  font-size:38px;
}

/* ANIMATION */
.reveal{
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}
.reveal.show{
  opacity:1;
  transform:none;
}

/* MOBILE */
@media(max-width:900px){
  .hero{grid-template-columns:1fr;height:60vh;}
  .split{grid-template-columns:1fr;}
  .hero-content h1{font-size:30px;}
}
