body {
  background:#fff;
  font-family: "Segoe UI", sans-serif;
}

/* HERO */
.about-hero {
  height: 60vh;
  background: url("../assets/about-hero.jpg") center/cover no-repeat;
  position: relative;
  display:flex;
  align-items:center;
}
.about-hero .overlay {
  position:absolute;
  inset:0;
  background:rgba(20,58,89,.75);
}
.about-hero .container {
  position:relative;
  color:#fff;
}

/* SECTION */
.about-section h2 {
  color:#143a59;
  font-weight:700;
}

/* VISION MISSION */
.vm-section {
  background:#f6f9fc;
}
.vm-card {
  background:#fff;
  padding:30px;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,.08);
  transition:.4s;
}
.vm-card:hover {
  transform:translateY(-8px);
}
.vm-card h3 {
  color:#143a59;
}
.vm-card ul {
  padding-left:18px;
}

/* MESSAGE */
.message-box {
  display:flex;
  gap:20px;
  background:#fff;
  padding:25px;
  border-radius:18px;
  box-shadow:0 10px 25px rgba(0,0,0,.08);
}
.message-box img {
  width:200pxpx;
  height:200px;
  border-radius:5%;
  object-fit:cover;
  border:3px solid #143a59;
}
.message-box h4 {
  color:#143a59;
}

/* ANIMATION */
.reveal {
  opacity:0;
  transform:translateY(40px);
  transition:1s;
}
.reveal.active {
  opacity:1;
  transform:translateY(0);
}
.delay-1 {
  transition-delay:.3s;
}
